
<h1>Edit ad</h1>
<form class="edit-form" action="/items/<%= @item.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <div>
      <label for="">Name: </label>
      <input class="sec" name="name" value="<%= @item.name %>" type="text">
  </div>
 <!--<label for="">Image: </label>
  <input name="image" id="" value="<%#=@item['images'].first.image%>">-->
  <div>
      <label for="price">Price: </label>
      <input class="sec"value="<%= @item.price %>" name="price" type="text">
  </div>
  <div>
      <label for="">Price type: </label>
      <input class="sec"value="<%= @item.pricetype %>" name="pricetype" type="text">
  </div>
  <div>
      <label for="">Location: </label>
      <input class="sec"value="<%= @item.location %>" name="location" type="text">
  </div>
  <div>
      <label for="">Description: </label>
      <input class="sec"value="<%= @item.description %>" name="description" type="text">
  </div>
  <button class="but">update</button>
</form>

