<h1>Second Hand Furniture</h1>

<a href="/items/new">Post new ad</a>

<% @items.each do |item|%>
<h1>

<a href="/items/<%= item.id%>"><%= item.name %></h1></a>
<a href=""><img src="<%= item.image%>"></a>
<a href=""><img src="<%= item.price%>"></a>
<a href=""><img src="<%= item.pricetype%>"></a>
<a href=""><img src="<%= item.location%>"></a>
<a href=""><img src="<%= item.description%>"></a>
<% end %>