<h5><%= @item.name %></h5>
<!--<a href=""><img src="<%#= @item['images'].first.image%>"></a>-->
<h5><%= @item.price %></h5>

<h5><%= @item.pricetype %></h5>
<h5><%= @item.location %></h5>
<h5><%= @item.description %></h5>
<h5><%= @item.user_id%></h5>
<form action="/items" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="id" value="<%= @item.id %>">
    <%if @item.user_id == current_user.id%>
    <button>Delete</button>
    <%end%>
</form>
<%if @item.user_id == current_user.id%>
<a href="/items/<%= @item.id %>/edit">edit</a>
<%end%>