<%= @item.name %>
<!--<a href=""><img src="<%#= @item['images'].first.image%>"></a>-->
<%= @item.price %>
<%= @item.pricetype %>
<%= @item.location %>
<%= @item.description %>
<form action="/items" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="id" value="<%= @item.id %>">
    <%if @item.user_id == current_user.id%>
    <button>Delete</button>
    <%end%>
</form>
<%if @item.user_id == current_user.id%>
<a href="/items/<%= @item.id %>/edit">edit</a>
<%end%>